<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <title>cellPortal</title>
        <meta name = 'description' content = 'Single-cell and spatial transcriptomics explorer.'>
        <link rel = 'stylesheet' type = 'text/css' href = 'app\assets\style.css'>
    </head>
    <div class = 'application-title' align = 'center'>
        <h1 class = 'title'>cellPortal</h1>
        <b class = 'subtitle'>Explore, and publish single-cell and spatial transcriptomics data.</b>
    </div>
    <Br>
    <div class = 'navbar' align = 'center'>
        <button class = 'navbar-button' href = 'explore.html'>Explore</button>
        <button class = 'navbar-button' href = 'publish.html'>Publish</button>
        <button class = 'navbar-button' href = 'about.html'>About</button>
    </div>  
    <Br>
    <div align = 'center'>
        <input class = 'search-bar' placeholder = 'Publication, Authors, Cell, Tissue'>
        <button class = 'search-button' href = ''>Search</button>
    </div>
</html>