<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <title>cellPortal</title>
        <meta name = 'description' content = 'Single-cell and spatial transcriptomics explorer.'>
        <link rel = 'stylesheet' type = 'text/css' href = ''>
    </head>
    <div class = 'application-title'>
        <h1 class = 'title'>cellPortal</h1>
        <b class = 'subtitle'>Explore, and publish single-cell and spatial transcriptomics data.</b>
    </div>
    <div class = 'navbar'>
       
    </div>
    <form class = 'login-form' method = 'post' align = 'center'>
        <input type = 'text' name = 'email' placeholder = 'Email' value = ''>
        <Br>
        <input type = 'text' name = 'password' placeholder = 'Password' value = ''>
        <Br>
        <button type = 'login'>Login</button>
        <Br>
        <button type = 'register'>Register</button>
    </form>
<html/>